# Terraform binary directories
.terraform/
.terraform.lock.hcl

# Terraform State Files (contains ALL your secrets - NEVER commit these)
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# SSH Keys (Your private key - NEVER commit this)
aws_deploy_key

# System files
.DS_Store